@using Orneholm.BirdOrNot.Web
@model Orneholm.BirdOrNot.Web.Models.HomeIndexViewModel

<div class="bon-page-wrapper @(Model.HasResult ? "bon-result-available" : "bon-result-unavailable")">
    <header class="bon-header">
        <div class="container">
            <a href="/" class="display-4"><i class="fad fa-crow"></i> BirdOrNot.net</a>

            <p class="pl-4">Is it a bird or not? Find out using AI!</p>
        </div>
    </header>

    <main class="bon-main">
        <div class="container-fluid bon-form-wrapper">
            <form id="bon-form">
                <div class="input-group">
                    <input type="url" class="form-control @(Model.IsInvalid ? "is-invalid" : "")" placeholder="URL to picture (JPEG, PNG, GIF, or BMP)" asp-for="ImageUrl" id="bon-image-url" />
                    <div class="input-group-append">
                        <button class="btn btn-primary bon-form-submit-button" type="submit">
                            <span class="bon-form-submit-text">Analyze</span>
                            <i class="fas fa-cog fa-spin bon-form-submit-spinner"></i>
                        </button>
                    </div>
                </div>

                <div class="bon-samples">
                    <span class="bon-samples-title">Samples:</span>
                    @foreach (var sample in Model.Samples)
                    {
                        <a href="?ImageUrl=@Uri.EscapeDataString(sample.Value)">@sample.Key</a>
                    }
                </div>
            </form>
        </div>
        <div class="container">
            @if (Model.HasResult)
            {
                var result = Model.Result;

                <h1 class="bon-result-title">@Model.IsBirdText</h1>

                <div class="bon-result-share">
                    <div class="d-inline-block">
                        <a class="twitter-share-button"
                           href="https://twitter.com/intent/tweet?text=@(Uri.EscapeDataString(Model.IsBirdText + " #BirdOrNot "))"
                           data-size="large">
                            Tweet
                        </a>
                    </div>
                    <div class="d-inline-block">
                        <div class="fb-share-button"
                             style="top: -5px;"
                             data-href="@Model.CanonicalUrl"
                             data-layout="button"
                             data-size="large">
                        </div>
                    </div>
                </div>

                <div class="row bon-result-cards">
                    <div class="col-lg-5 bon-result-card-image">
                        <div class="card p-1 bon-result-card-image-wrapper">
                            <img src="@Model.ImageUrl" class="card-img-top" alt="@result.Metadata.ImageDescription">
                            @{
                                var animalIndex = 0;
                            }
                            @foreach (var animal in Model.Result.Animals)
                            {
                                animalIndex++;
                                var rectangle = animal.Rectangle;

                                <div class="bon-result-image-rectangle"
                                     id="bon-result-image-rectangle-@animalIndex"
                                     title="@animal.Species (@($"{animal.IsBirdConfidence:P1}"))"
                                     onmouseover="bon.highlightAnimalRow(true, @(animalIndex));" onmouseout="bon.highlightAnimalRow(false, @(animalIndex));"
                                     style="left: @rectangle.xPercentage.ToCssPercentageString(); top: @rectangle.yPercentage.ToCssPercentageString(); width: @rectangle.wPercentage.ToCssPercentageString(); height: @rectangle.hPercentage.ToCssPercentageString();">
                                    @if (!string.IsNullOrWhiteSpace(animal.Species))
                                    {
                                        <span>@animal.Species</span>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-7 bon-result-card-text">
                        <div class="card">
                            <div class="card-body">
                                @if (result.IsBird)
                                {
                                    <p class="card-text">
                                        According to <a href="https://bit.ly/azure-cog-computer-vision" target="_blank">Azure Cognitive Services</a> the image contains a bird@(result.IsBirdConfidence != null ? $" ({result.IsBirdConfidence:P1} confidence)" : "").
                                        @if (result.Animals.Count > 1)
                                        {
                                            <text>It even contains multiple birds (@result.Animals.Count to be exact). See a list of them below.</text>
                                        }
                                    </p>
                                }
                                else
                                {
                                    <p>According to <a href="https://bit.ly/azure-cog-computer-vision" target="_blank">Azure Cognitive Services</a> the image does not contain a bird...</p>
                                }

                                <p>
                                    The information below is automatically extracted from the image.
                                </p>

                                <h2 class="h5">Description</h2>
                                <p>
                                    @result.Metadata.ImageDescription
                                </p>

                                <h2 class="h5">Tags</h2>
                                <p>
                                    @foreach (var tag in result.Metadata.ImageTags)
                                    {
                                        <span class="badge badge-pill badge-info">@tag</span>
                                    }
                                </p>

                                <h2 class="h5">Animals</h2>
                                <p>
                                    These are the animals found in the picture and the confidence level for each info.
                                </p>
                            </div>
                            <table class="table table-hover table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Is&nbsp;bird?</th>
                                        <th>Group</th>
                                        <th>Is&nbsp;animal?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < result.Animals.Count; i++)
                                    {
                                        var animal = result.Animals[i];
                                        <tr id="bon-result-table-row-@(i + 1)" onmouseover="bon.highlightAnimalRectangle(true, @(i + 1));" onmouseout="bon.highlightAnimalRectangle(false, @(i + 1));">
                                            <th>
                                                @(i + 1)
                                            </th>

                                            <td>
                                                @(animal.IsBird ? "Yes" : "No")
                                                @(animal.IsBird ? $"({animal.IsBirdConfidence:P1})" : "")
                                            </td>

                                            <td>
                                                @(animal.Species != null ? $"{animal.Species}" : "-")
                                                @(animal.Species != null ? $"({animal.SpeciesConfidence:P1})" : "")
                                            </td>

                                            <td>
                                                @(animal.IsAnimal ? "Yes" : "No")
                                                @(animal.IsAnimal ? $"({animal.IsAnimalConfidence:P1})" : "-")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="bon-result-feedback">
                            <h4>Do you agree?</h4>

                            <div class="btn-group" id="bon-feedback-buttons">
                                <button type="button" class="btn btn-success" id="bon-feedback-yes">Yes!</button>
                                <button type="button" class="btn btn-danger" id="bon-feedback-no">No...</button>
                            </div>

                            <div id="bon-feedback-thanks" style="display: none;">
                                Thank you for the feedback! The service might eventually learn and get better from this.
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>
</div>

<footer class="bon-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>About</h4>
                <p>
                    The technical details about this site is <a href="https://bit.ly/po-birdornot-blog">described in this blogpost</a>.
                </p>
                <p>
                    The <a href="https://github.com/PeterOrneholm/BirdOrNot.net">Sourcecode is available at GitHub</a> and <a href="https://hub.docker.com/r/peterorneholm/orneholmbirdornotweb">Docker image available at Dockerhub</a>.
                </p>
            </div>

            <div class="col-sm-4">
                <h4>Inspiration</h4>
                <p>
                    This website was inspired by <a href="https://xkcd.com/1425/" target="_blank">this XKCD about tasks</a>, but proving it's not &quot;virtually impossible&quot; anymore by using <a href="https://bit.ly/azure-cog-computer-vision" target="_blank">Azure Cognitive Services</a> to detect birds.
                </p>

                <div class="bon-footer-xkcd-wrapper">
                    <a href="https://xkcd.com/1425/" target="_blank">
                        <img src="https://imgs.xkcd.com/comics/tasks.png" class="img-thumbnail bon-footer-xkcd" />
                    </a>
                </div>
            </div>

            <div class="col-sm-4">
                <h4>Author</h4>
                <p>
                    Developed by <a href="https://twitter.com/PeterOrneholm" target="_blank">@@PeterOrneholm</a> as a demo for the session <a href="http://bit.ly/peterorneholm-democratizing-ai">Democratizing AI with Azure Cognitive Services</a>.
                </p>
            </div>
        </div>
        <p class="bon-footer-sitename">
            BirdOrNot.net
        </p>
    </div>
</footer>

@section HeadMeta {
    <meta property="og:type" content="website" />
    <link rel="canonical" href="@Model.CanonicalUrl" />

    @if (string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        <title>BirdOrNot.net - Is it a bird or not? Find out using AI!</title>
        <meta name="description" content="Is it a bird or not? Find out using AI!" />
        <meta property="og:image" content="/images/icons/birdornot-512x512.png" />
    }
    else
    {
        <title>@Model.IsBirdText - BirdOrNot.net - Is it a bird or not? Find out using AI!</title>
        <meta property="og:image" content="@Model.ImageUrl" />

        if (Model.HasResult)
        {
            <meta name="description" content="@Model.IsBirdText - @Model.Result.Metadata.ImageDescription - Is it a bird or not? Try yourself using AI!" />
        }
        else
        {
            <meta name="description" content="@Model.IsBirdText - Is it a bird or not? Try yourself using AI!" />
        }
    }
}

@section Scripts {
    <script>
        (function () {
            var bon = window.bon = {};

            var bonForm = document.querySelector("#bon-form");
            var bonFormSubmitButton = bonForm.querySelector(".bon-form-submit-button");
            var bonFormSubmitText = bonForm.querySelector(".bon-form-submit-text");
            var bonFormSubmitSpinner = bonForm.querySelector(".bon-form-submit-spinner");

            bonForm.addEventListener("submit", function () {
                bonFormSubmitButton.disabled = true;
                bonFormSubmitText.style.display = 'none';
                bonFormSubmitSpinner.style.display = 'block';
            });

            bon.highlightAnimalRectangle = function (show, index) {
                var id = "bon-result-image-rectangle-" + index;
                var cssClass = "bon-result-image-rectangle-selected";
                highlight(show, id, cssClass);
            };

            bon.highlightAnimalRow = function (show, index) {
                var id = "bon-result-table-row-" + index;
                var cssClass = "table-info";
                highlight(show, id, cssClass);
            };

            function highlight(show, id, cssClass) {
                var element = document.getElementById(id);

                if (show) {
                    element.classList.add(cssClass);
                } else {
                    element.classList.remove(cssClass);
                }
            };
        }());
    </script>
    @if (Model.HasResult)
    {
        <script>
            (function() {
                var feedbackButtons = document.querySelector("#bon-feedback-buttons");
                var feedbackYesButton = document.querySelector("#bon-feedback-yes");
                var feedbackNoButton = document.querySelector("#bon-feedback-no");
                var feedbackThanks = document.querySelector("#bon-feedback-thanks");
                var imageUrl = document.querySelector("#bon-image-url").value;

                if (!feedbackButtons) {
                    return;
                }

                feedbackYesButton.addEventListener("click",
                    function() {
                        feedback("true");
                    });

                feedbackNoButton.addEventListener("click",
                    function() {
                        feedback("false");
                    });

                function feedback(agree) {
                    if (window.appInsights) {
                        window.appInsights.trackEvent("BON_ImageFeedback",
                            {
                                "BON_ImageUrl": imageUrl,
                                "BON_IsBird": "@(Model.HasResult && Model.Result.IsBird ? "true" : "false")",
                                "BON_Feedback_Agree": agree
                            });
                    }
                    feedbackButtons.style.display = "none";
                    feedbackThanks.style.display = "block";
                }
            }());
        </script>
    }

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}